/* src/menu/InviteModal.css */
.modalInvite {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-top: 15%;
  margin-left: 35%;
  min-width: 400px;
  overflow: auto;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .modal-content h2 {
    margin-bottom: 20px;
  }
  
  .modal-content label {
    display: block;
    margin-bottom: 10px;
  }
  
  .modal-content input {
    padding: 10px;
    border-color: #007bff;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 20px;
  }
  

  .ButtonGroup1 {
    position: center;
  }
  
  .ButtonGroup1 button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 15px;
  }
  
  .ButtonGroup1 button:first-child {
    background-color: #28a745;
    color: white;
  }
  
  .ButtonGroup1 button:first-child:hover {
    background-color: #218838;
  }
  
  .ButtonGroup1 button:last-child {
    background-color: #dc3545;
    color: white;
  }
  
  .ButtonGroup1 button:last-child:hover {
    background-color: #c82333;
  }