.DashboardInfo {
    display: flex;
    gap: 20px;
}

.Dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .DashboardImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    position: relative;
  }
  
  .ProfilePicContainer {
    position: relative;
    display: inline-block;
  }
  
  .ProfilePicContainer .edit-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .ProfilePicContainer:hover .edit-button {
    opacity: 1;
  }
  
  .DashboardName {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .DashboardLevel {
    font-size: 1rem;
    color: #666;
  }
  
  .NameContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .NameEditContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .NameDisplayContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .NameContainer button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }
  
  .NameContainer button:hover {
    background-color: #45a049;
  }
  
  .NameContainer input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    transition: border-color 0.3s;
  }
  
  .NameContainer input:focus {
    border-color: #007bff;
    outline: none;
  }