.MenuContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background-color: #70a1c6;
  font-family: Arial, sans-serif;
  border: 4px solid #007bff; /* Add blue border at the bottom */
  border-radius: 10px;
}



.Menu {
  flex: 1;
  background-color: #e0f7fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.Menu h1 {
  text-align: center;
  margin-bottom: 20px;
}

.Menu button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Menu button:hover {
  background-color: #45a049;
}

.GameDescription {
  flex: 2;
  background-image: url('gameMenu.jpg'); /* Update this path to your background image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-size: cover; /* Ensure the image covers the entire container */
  margin: 0 20px;
  border-radius: 10px;
}

.GameTitle {
  position: center;
  padding: 12%;

}

.Updates {
  flex: 1;
  max-width: 300px;
  background-color: #e0f7fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.Updates h1 {
  text-align: center;
}

.Updates p {
  margin-top: 10px;
  text-align: justify;
}